.admin-header{
    color: white !important;
    font-size: 3.3em !important;
    font-weight: 567 !important;
    padding-top: 19px !important;
    display: flow;
    /* padding: 12px 383px 39px 663px; */
    padding-left: 43%;
}